<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.waxandwane</string>

  <key>ProgramArguments</key>
  <array>
    <string>__WAX_AND_WANE_BINARY__</string>
    <string>run</string>
    <string>--config</string>
    <string>__WAX_AND_WANE_CONFIG__</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__WAX_AND_WANE_LOG_DIR__/wax-and-wane.out.log</string>
  <key>StandardErrorPath</key>
  <string>__WAX_AND_WANE_LOG_DIR__/wax-and-wane.err.log</string>
</dict>
</plist>
